body {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

#root {
  padding: 3rem;
  background-color: rgb(255, 239, 239);
  box-shadow: 5px 5px 15px 0px rgba(232, 232, 232);
  border-radius: 12px;
}
